<h1>
  検索結果
</h1>
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <td>
    <br>
    <li>
    <%= result.name %>
    <%= result.lyricist %>
    <%= result.year %>
    <%= result.position %>
    <%= result.category.name %>
    <%= link_to 'Sharing Roomへ', new_message_path %>
    </li>
  <% end %>
<% else %>
  該当する楽曲なし
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>